html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Roboto Mono', monospace;
  /* CSS HEX */
  --black: #001219ff;
  --blue: #005f73ff;
  --blue-green: #0a9396ff;
  --green: #94d2bdff;
  --champagne: #e9d8a6ff;
  --orange: #ee9b00ff;
  --dark-orange: #ca6702ff;
  --rust: #bb3e03ff;
  --red: #ae2012ff;
  --ruby-red: #9b2226ff;
  background-color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
